{% extends 'landingpage/base.html' %}

  {% block content %}

    <div class="header-text">
      <h2>QUOREM | Database for Microbial Ecology Data</h2>
      {% if user.is_authenticated and user.has_access %}
      <p><h3> Welcome back!</h3></p>
      <p><a href="/home">QUOREM Database</a></p>
      <p><a href="/wiki">QUOREM Wiki</a></p>
      {% elif user.is_authenticated %}
      <p><h3>Sorry, you don't have access yet.</h3></p>
      <p>To gain access to QUOREM, ask your superuser to toggle login to the admin panel and toggle your permission settings.</p>
      {% else %}
      <p>Already have an account on this instance? <a href="/accounts/signin">Sign in!</a></p>
      <p>Are you a new user? <a href="/accounts/signup">Sign up here!</a></p>
      {% endif %}
    </div>
  {% endblock %}
