accounts/migrations/*
db/migrations/*
landingpage/migrations/*
accounts/__pycache__/*
backup.json
db/__pycache__/*
db/models/__pycache__/*
diagrams/
landingpage/__pycache__/*
*.pyc
quorem/__pycache__/*
*.swp
tests/data/qiime_data/
upload/*
*.log
