accounts/migrations/*
accounts/__pycache__/*
backup.json
db/migrations/*
db/__pycache__/*
diagrams/
imr_biological_replicate_protocol.csv
*.ipynb
landingpage/__pycache__/*
metadata.Gieg.xls
METADATA.txt
node_modules/
ObjectRelations/
output.png
planning/
*.pyc
quorem/__pycache__/*
SmallerExample.csv
*.swp
tests/data/qiime_data/
thoughts.txt
TinyExample.csv
TODO/*
upload/*
logs/*
