{% extends 'core/custom_basemin.htm' %}

{% block header %}
  {% include 'core/header.htm' %}
  <style>
    .clickable-row:hover{
      background-color: powderblue;
      cursor: pointer;
    }


    #object-carousel {
      margin-left: 50px;
      margin-right: 50px;
    }

    .carousel-item div {
      margin-left: auto;
      margin-right: auto;
    }

    .carousel-control{
      top: 50%;
      font-size: 40px;
    }

    .carousel-control.left,
    .carousel-control.right {
      background: none;
      border: none;
    }

    .carousel-caption {
      position: relative;
      left: auto;
      right: auto;
    }

    .carousel-control-prev {
      background: none;
      border: none;
      margin-left: -65px;
      color: #17a2b8;
      font-size: 40px;

    }

    .carousel-control-next {
      background: none;
      border: none;
      margin-right: -65px;
      color: #17a2b8;
      font-size: 40px;
    }

    .carousel-control {
      width: 0%;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
      color: grey;
      font-size: 40px;
    }
    .carousel-control-prev:focus {
      color: #17a2b8;
    }
    .carousel-control-next:focus {
      color: #17a2b8;
    }
    .carousel-control-prev:hover {
      color: #17a2b8;
    }
    .carousel-control-next:hover {
      color: #17a2b8;
    }


  </style>
{% endblock header %}

{% block mainmenu %}
  {% include 'core/mainmenu.htm' %}
{% endblock mainmenu %}
