<!-- A page which only exists for testing purposes. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'base_head.htm' -%}
    {% block head -%}
    {% endblock head -%}
    <style>
      /*style stuff */
    </style>
  </head>
  <body>
    <h1>test</h1>
    {% if qs %}
      <p> Download files here</p>
      <ul>
      {% for object in qs %}
        <li><a target="_blank" href="/{{ object.upload_file.url }}">{{ object.upload_file }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
