<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- include qiime_head used to be here -->
    {% include 'base_head.htm' %}
    {% block head -%}
    {% endblock head -%}
    <style>
      /*style stuff */
    </style>
  </head>
  <body>
    {% set active_page = "analyze" %}
    {% include 'header.htm' -%}
    <iframe frameborder="0" src="tests/data/qiime_data/6d5e1798-b947-48a4-88e6-744792dce975/data/index.html"
     style="width:100%;
            height: 100%;
            position: absolute;">
   </iframe>
   {% include 'base_bottom_scripts.htm' -%}
   {% block bottom_scripts -%}
   {% endblock bottom_scripts -%}
  </body>
</html>
