<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'qiime_head.htm' -%}
    {% block head -%}
    {% endblock head -%}
    <style>
      /*style stuff */
    </style>
  </head>
  <body>
    {% set active_page = "analyze" %}
    {% include 'header.htm' -%}
    
    <div class="container-fluid">
      <div class="row" id="q2templatesheader">
        <div class="col-lg-12">
          <a href="http://qiime2.org/">
            <img alt="QIIME 2" src="./q2templateassets/img/qiime2-rect-200.png"/>
          </a>
        </div>
      </div>
      <h1>Feature evaluation results</h1>
      <div class="text-center">
        <div class="row">
          <div class="col-lg-12">
            <h1>Per-Level Accuracy</h1>
            <a href="score_plot.pdf">
              <img src="score_plot.png"/><br/>
              <p>Download as PDF</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a href="results.tsv">
              <p>Download as tsv</p>
            </a>
            <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
              <div class="panel panel-default">
                <div class="panel-heading" id="accordion-heading" role="tab">
                  <h4 class="panel-title">
                    <a aria-controls="results-table" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#results-table" role="button">
                      Click to Collapse/Expand
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="accordion-heading" class="panel-collapse collapse in" id="results-table" role="tabpanel">
                  <div class="panel-body">
                    <table border="0" class="dataframe table table-striped table-hover">
                      <thead>
                        <tr style="text-align: right;">
                          <th>sample</th>
                          <th>level</th>
                          <th>Observed Taxa</th>
                          <th>Observed / Expected Taxa</th>
                          <th>TAR</th>
                          <th>TDR</th>
                          <th>Slope</th>
                          <th>Intercept</th>
                          <th>r-value</th>
                          <th>P value</th>
                          <th>Std Err</th>
                          <th>Bray-Curtis</th>
                          <th>Jaccard</th>
                          <th>r-squared</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.101347</td>
                          <td>-0.050674</td>
                          <td>1.000000</td>
                          <td>0.000000e+00</td>
                          <td>0.000000</td>
                          <td>0.045847</td>
                          <td>0.000000</td>
                          <td>1.000000</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.100856</td>
                          <td>-0.050428</td>
                          <td>1.000000</td>
                          <td>0.000000e+00</td>
                          <td>0.000000</td>
                          <td>0.045625</td>
                          <td>0.000000</td>
                          <td>1.000000</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.647994</td>
                          <td>-0.323997</td>
                          <td>1.000000</td>
                          <td>0.000000e+00</td>
                          <td>0.000000</td>
                          <td>0.185091</td>
                          <td>0.000000</td>
                          <td>1.000000</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>1</td>
                          <td>2</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.000000</td>
                          <td>1.672628</td>
                          <td>-0.336314</td>
                          <td>1.000000</td>
                          <td>0.000000e+00</td>
                          <td>0.000000</td>
                          <td>0.192128</td>
                          <td>0.000000</td>
                          <td>1.000000</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>2</td>
                          <td>6</td>
                          <td>1.000000</td>
                          <td>0.833333</td>
                          <td>0.833333</td>
                          <td>1.370213</td>
                          <td>-0.052888</td>
                          <td>0.924456</td>
                          <td>2.891636e-03</td>
                          <td>0.252738</td>
                          <td>0.316444</td>
                          <td>0.285714</td>
                          <td>0.854619</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>2</td>
                          <td>6</td>
                          <td>1.000000</td>
                          <td>0.833333</td>
                          <td>0.833333</td>
                          <td>1.460175</td>
                          <td>-0.065739</td>
                          <td>0.929798</td>
                          <td>2.414315e-03</td>
                          <td>0.258501</td>
                          <td>0.322399</td>
                          <td>0.285714</td>
                          <td>0.864525</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>0.500000</td>
                          <td>1.000000</td>
                          <td>0.500000</td>
                          <td>1.356553</td>
                          <td>-0.050936</td>
                          <td>0.899194</td>
                          <td>5.865437e-03</td>
                          <td>0.295206</td>
                          <td>0.299361</td>
                          <td>0.500000</td>
                          <td>0.808550</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>2</td>
                          <td>3</td>
                          <td>0.500000</td>
                          <td>1.000000</td>
                          <td>0.500000</td>
                          <td>1.370775</td>
                          <td>-0.052968</td>
                          <td>0.894055</td>
                          <td>6.622930e-03</td>
                          <td>0.307152</td>
                          <td>0.311483</td>
                          <td>0.500000</td>
                          <td>0.799334</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>3</td>
                          <td>10</td>
                          <td>1.000000</td>
                          <td>0.900000</td>
                          <td>0.900000</td>
                          <td>1.634544</td>
                          <td>-0.057686</td>
                          <td>0.960974</td>
                          <td>2.535585e-06</td>
                          <td>0.156848</td>
                          <td>0.343443</td>
                          <td>0.181818</td>
                          <td>0.923470</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>3</td>
                          <td>10</td>
                          <td>1.000000</td>
                          <td>0.900000</td>
                          <td>0.900000</td>
                          <td>1.754255</td>
                          <td>-0.068569</td>
                          <td>0.972316</td>
                          <td>5.497255e-07</td>
                          <td>0.140529</td>
                          <td>0.343560</td>
                          <td>0.181818</td>
                          <td>0.945398</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>3</td>
                          <td>7</td>
                          <td>0.700000</td>
                          <td>1.000000</td>
                          <td>0.700000</td>
                          <td>1.288919</td>
                          <td>-0.026265</td>
                          <td>0.879025</td>
                          <td>3.652286e-04</td>
                          <td>0.233032</td>
                          <td>0.341972</td>
                          <td>0.300000</td>
                          <td>0.772686</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>3</td>
                          <td>6</td>
                          <td>0.600000</td>
                          <td>1.000000</td>
                          <td>0.600000</td>
                          <td>1.275574</td>
                          <td>-0.025052</td>
                          <td>0.869778</td>
                          <td>5.017561e-04</td>
                          <td>0.241220</td>
                          <td>0.358612</td>
                          <td>0.400000</td>
                          <td>0.756513</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>4</td>
                          <td>12</td>
                          <td>1.000000</td>
                          <td>0.916667</td>
                          <td>0.916667</td>
                          <td>1.438606</td>
                          <td>-0.033739</td>
                          <td>0.596743</td>
                          <td>3.131711e-02</td>
                          <td>0.583265</td>
                          <td>0.529297</td>
                          <td>0.153846</td>
                          <td>0.356103</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>4</td>
                          <td>12</td>
                          <td>1.000000</td>
                          <td>0.916667</td>
                          <td>0.916667</td>
                          <td>1.576048</td>
                          <td>-0.044311</td>
                          <td>0.612206</td>
                          <td>2.614667e-02</td>
                          <td>0.613743</td>
                          <td>0.529540</td>
                          <td>0.153846</td>
                          <td>0.374796</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>4</td>
                          <td>9</td>
                          <td>0.750000</td>
                          <td>1.000000</td>
                          <td>0.750000</td>
                          <td>1.050655</td>
                          <td>-0.003897</td>
                          <td>0.639808</td>
                          <td>1.851940e-02</td>
                          <td>0.380520</td>
                          <td>0.443566</td>
                          <td>0.250000</td>
                          <td>0.409354</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>4</td>
                          <td>8</td>
                          <td>0.666667</td>
                          <td>1.000000</td>
                          <td>0.666667</td>
                          <td>1.038342</td>
                          <td>-0.002949</td>
                          <td>0.611361</td>
                          <td>2.641181e-02</td>
                          <td>0.405244</td>
                          <td>0.478331</td>
                          <td>0.333333</td>
                          <td>0.373762</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>5</td>
                          <td>17</td>
                          <td>0.944444</td>
                          <td>0.941176</td>
                          <td>0.888889</td>
                          <td>1.764445</td>
                          <td>-0.040234</td>
                          <td>0.393190</td>
                          <td>9.583574e-02</td>
                          <td>1.000720</td>
                          <td>0.589078</td>
                          <td>0.157895</td>
                          <td>0.154598</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>5</td>
                          <td>18</td>
                          <td>1.000000</td>
                          <td>0.944444</td>
                          <td>0.944444</td>
                          <td>2.055401</td>
                          <td>-0.055547</td>
                          <td>0.427474</td>
                          <td>6.791259e-02</td>
                          <td>1.054251</td>
                          <td>0.588305</td>
                          <td>0.105263</td>
                          <td>0.182734</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>5</td>
                          <td>12</td>
                          <td>0.666667</td>
                          <td>1.000000</td>
                          <td>0.666667</td>
                          <td>1.005278</td>
                          <td>-0.000278</td>
                          <td>0.631334</td>
                          <td>3.743431e-03</td>
                          <td>0.299496</td>
                          <td>0.454323</td>
                          <td>0.333333</td>
                          <td>0.398583</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>5</td>
                          <td>13</td>
                          <td>0.722222</td>
                          <td>1.000000</td>
                          <td>0.722222</td>
                          <td>0.992352</td>
                          <td>0.000403</td>
                          <td>0.601380</td>
                          <td>6.456446e-03</td>
                          <td>0.319756</td>
                          <td>0.491949</td>
                          <td>0.277778</td>
                          <td>0.361658</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>6</td>
                          <td>17</td>
                          <td>0.944444</td>
                          <td>0.941176</td>
                          <td>0.888889</td>
                          <td>1.764445</td>
                          <td>-0.040234</td>
                          <td>0.393190</td>
                          <td>9.583574e-02</td>
                          <td>1.000720</td>
                          <td>0.589078</td>
                          <td>0.157895</td>
                          <td>0.154598</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>6</td>
                          <td>18</td>
                          <td>1.000000</td>
                          <td>0.944444</td>
                          <td>0.944444</td>
                          <td>2.055401</td>
                          <td>-0.055547</td>
                          <td>0.427474</td>
                          <td>6.791259e-02</td>
                          <td>1.054251</td>
                          <td>0.588305</td>
                          <td>0.105263</td>
                          <td>0.182734</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>6</td>
                          <td>12</td>
                          <td>0.666667</td>
                          <td>1.000000</td>
                          <td>0.666667</td>
                          <td>1.005278</td>
                          <td>-0.000278</td>
                          <td>0.631334</td>
                          <td>3.743431e-03</td>
                          <td>0.299496</td>
                          <td>0.454323</td>
                          <td>0.333333</td>
                          <td>0.398583</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>6</td>
                          <td>13</td>
                          <td>0.722222</td>
                          <td>1.000000</td>
                          <td>0.722222</td>
                          <td>0.992352</td>
                          <td>0.000403</td>
                          <td>0.601380</td>
                          <td>6.456446e-03</td>
                          <td>0.319756</td>
                          <td>0.491949</td>
                          <td>0.277778</td>
                          <td>0.361658</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even1</td>
                          <td>7</td>
                          <td>18</td>
                          <td>0.900000</td>
                          <td>0.888889</td>
                          <td>0.800000</td>
                          <td>-3.755976</td>
                          <td>0.216181</td>
                          <td>-0.592257</td>
                          <td>3.683021e-03</td>
                          <td>1.142609</td>
                          <td>0.684316</td>
                          <td>0.272727</td>
                          <td>0.350768</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.1.Even2</td>
                          <td>7</td>
                          <td>19</td>
                          <td>0.950000</td>
                          <td>0.894737</td>
                          <td>0.850000</td>
                          <td>-3.831737</td>
                          <td>0.219624</td>
                          <td>-0.565020</td>
                          <td>6.144355e-03</td>
                          <td>1.251154</td>
                          <td>0.683543</td>
                          <td>0.227273</td>
                          <td>0.319248</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered1</td>
                          <td>7</td>
                          <td>13</td>
                          <td>0.650000</td>
                          <td>0.923077</td>
                          <td>0.600000</td>
                          <td>-0.133402</td>
                          <td>0.051518</td>
                          <td>-0.080281</td>
                          <td>7.224813e-01</td>
                          <td>0.370366</td>
                          <td>0.799931</td>
                          <td>0.428571</td>
                          <td>0.006445</td>
                        </tr>
                        <tr>
                          <td>HMPMockV1.2.Staggered2</td>
                          <td>7</td>
                          <td>14</td>
                          <td>0.700000</td>
                          <td>0.928571</td>
                          <td>0.650000</td>
                          <td>-0.156345</td>
                          <td>0.052561</td>
                          <td>-0.090702</td>
                          <td>6.881077e-01</td>
                          <td>0.383848</td>
                          <td>0.814092</td>
                          <td>0.380952</td>
                          <td>0.008227</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1>Linear regression between observed and expected abundances</h1>
            <a href="composition_regression.pdf">
              <img src="composition_regression.png"/>
              <br/>
              <p>Download as PDF</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1>Mismatches between false positive and expected features</h1>
            <a href="mismatch_histogram.pdf">
              <img src="mismatch_histogram.png"/>
              <br/>
              <p>Download as PDF</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1>False positives: misclassifications</h1>
            <div class="col-lg-12">
              <a href="misclassifications.tsv">
                <p>Download as tsv</p>
              </a>
              <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                <div class="panel panel-default">
                  <div class="panel-heading" id="accordion-heading" role="tab">
                    <h4 class="panel-title">
                      <a aria-controls="misclassifications-table" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#misclassifications-table" role="button">
                        Click to Collapse/Expand
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="accordion-heading" class="panel-collapse collapse in" id="misclassifications-table" role="tabpanel">
                    <div class="panel-body">
                      <table border="0" class="dataframe table table-striped table-hover">
                        <thead>
                          <tr style="text-align: right;">
                            <th></th>
                            <th>HMPMockV1.1.Even1</th>
                            <th>HMPMockV1.1.Even2</th>
                            <th>HMPMockV1.2.Staggered1</th>
                            <th>HMPMockV1.2.Staggered2</th>
                          </tr>
                          <tr>
                            <th>Taxon</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>k__Bacteria;p__[Thermi];c__Deinococci;o__Deinococcales;f__Deinococcaceae;g__Deinococcus;s__</th>
                            <td>0.08634</td>
                            <td>0.053318</td>
                            <td>0.0</td>
                            <td>0.0</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1>False positives: underclassifications</h1>
            <div class="col-lg-12">
              <a href="underclassifications.tsv">
                <p>Download as tsv</p>
              </a>
              <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                <div class="panel panel-default">
                  <div class="panel-heading" id="accordion-heading" role="tab">
                    <h4 class="panel-title">
                      <a aria-controls="underclassifications-table" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#underclassifications-table" role="button">
                        Click to Collapse/Expand
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="accordion-heading" class="panel-collapse collapse in" id="underclassifications-table" role="tabpanel">
                    <div class="panel-body">
                      <table border="0" class="dataframe table table-striped table-hover">
                        <thead>
                          <tr style="text-align: right;">
                            <th></th>
                            <th>HMPMockV1.1.Even1</th>
                            <th>HMPMockV1.1.Even2</th>
                            <th>HMPMockV1.2.Staggered1</th>
                            <th>HMPMockV1.2.Staggered2</th>
                          </tr>
                          <tr>
                            <th>Taxon</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>k__Bacteria;p__Firmicutes;c__Bacilli;o__Bacillales;f__Staphylococcaceae;g__Staphylococcus;__</th>
                            <td>0.536876</td>
                            <td>0.577293</td>
                            <td>0.639295</td>
                            <td>0.666156</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1>False negative features</h1>
            <div class="col-lg-12">
              <a href="false_negative_features.tsv">
                <p>Download as tsv</p>
              </a>
              <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                <div class="panel panel-default">
                  <div class="panel-heading" id="accordion-heading" role="tab">
                    <h4 class="panel-title">
                      <a aria-controls="false_negative_features-table" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#false_negative_features-table" role="button">
                        Click to Collapse/Expand
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="accordion-heading" class="panel-collapse collapse in" id="false_negative_features-table" role="tabpanel">
                    <div class="panel-body">
                      <table border="0" class="dataframe table table-striped table-hover">
                        <thead>
                          <tr style="text-align: right;">
                            <th></th>
                            <th>HMPMockV1.1.Even1</th>
                            <th>HMPMockV1.1.Even2</th>
                            <th>HMPMockV1.2.Staggered1</th>
                            <th>HMPMockV1.2.Staggered2</th>
                          </tr>
                          <tr>
                            <th>Taxon</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>k__Bacteria;p__Firmicutes;c__Bacilli;o__Bacillales;f__Staphylococcaceae;g__Staphylococcus;s__aureus</th>
                            <td>0.047619</td>
                            <td>0.047619</td>
                            <td>0.214362</td>
                            <td>0.214362</td>
                          </tr>
                          <tr>
                            <th>k__Bacteria;p__Firmicutes;c__Bacilli;o__Bacillales;f__Staphylococcaceae;g__Staphylococcus;s__epidermidis</th>
                            <td>0.047619</td>
                            <td>0.047619</td>
                            <td>0.021436</td>
                            <td>0.021436</td>
                          </tr>
                          <tr>
                            <th>k__Bacteria;p__Thermi;c__Deinococci;o__Deinococcales;f__Deinococcaceae;g__Deinococcus;s__</th>
                            <td>0.047619</td>
                            <td>0.047619</td>
                            <td>0.000214</td>
                            <td>0.000214</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% include 'qiime_bottom_scripts.htm' %}
  </body>
</html>
