<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'base_head.htm' -%}
    {% block head -%}
    {% endblock head -%}
    <style>
      /*style stuff */
    </style>
  </head>
  <body>
    {% set active_page = "search" %}
    {% include 'header.htm' -%}
      <iframe frameborder="0" srcdoc="{{ html }}" style="width: 100%; height: 100%; position: absolute;">
      </iframe>

    {% include 'base_bottom_scripts.htm' -%}
    {% block bottom_scripts -%}
    {% endblock bottom_scripts -%}
  </body>
</html>
