<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'base_head.htm' -%}
    {% block head -%}
    {% endblock head -%}
    <style>
      /*style stuff */
      .marketing .row{
        padding-top: 3rem;
      }
      .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      .marketing h2 {
        font-weight: 400;
      }
      .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
      }
      .v2{
        color: grey;
      }
      .announcement{
        color: #17a2b8;
        opacity: 0.7;
      }
    </style>
  </head>
  <body>
    {% set active_page = "analyze" %}
    {% include 'core/header.htm' -%}
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="{{ static ('img/graphicon.png') }}"
          alt="graph image" width="140" height="140">
          <h2>Graph Vizualisations</h2>
          <p>Visualize data from the QUOREM database to discover trends and patterns.
          </p>
          <p>
            <a class="btn btn-secondary" href="plot" role="button">
              Visualize</a>
          </p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="{{ static ('img/microscope.png') }}"
        alt="graph image" width="140" height="140">
        <h2>Complex Queries</h2>
        <p>Perform more complicated search operations to view your data as a table.
        </p>
        <p>
          <a class="btn btn-secondary" href="{{ url('value_table') }}" role="button">
            Analyze</a>
        </p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="{{ static ('img/report.png') }}"
      alt="graph image" width="140" height="140">
      <h2 class="v2">Detailed Reports</h2>
      <p class="announcement">This feature is coming in version 2.</p>
      <p class="v2">Get custom reports about the data in a team-specific manner.
      </p>
      <p>
        <a class="btn btn-secondary disabled" href="#" role="button">
          Summarize</a>
      </p>
  </div>
    </div>
    {% include 'base_bottom_scripts.htm' -%}
    {% block bottom_scripts -%}
    {% endblock bottom_scripts -%}
  </body>
</html>
