{% extends 'analyze/plot.htm' %}
{% block style %}
<link rel="stylesheet" href="{{ static('css/plot_form_css.css') }}">
{% endblock style %}
{% block body %}
<div class="row">
  <div class="col-lg-9 border-right">
    <h3>Trend Plot Wizard</h3>
    <p>Select X and Y values to discover trends in data.</P>
    <div class="aggregate-content">
      {% if graph %}
      {{ graph|safe }}
      {% else %}
      {% include 'analyze/plot_trend_form.htm' %}
      {% endif %}
    </div>
  </div>
  {% if choices %}
  <div class="col-lg-3 border-left">
    <div class="card">
      <div class="card-header bg-primary">
      </div>
      <div class="card-body">
        <h5>Parameter Choices</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>Graph Style: {{ choices.style }}</p>
          </li>
          <li class='list-group-item'>
            <p>X Params:</p>
            <ul>
              <li>Category: {{ choices.x_cat }}</li>
              <li>Value: {{ choices.x_val }}</li>
            </ul>
          </li>
          <li class='list-group-item'>
            <p>Y Params</p>
            <ul>
              <li>Category: {{ choices.y_cat }}</li>
              <li>Value: {{ choices.y_val }}</li>
            </ul>
          </li>
          <a href="{{ url( 'plot_trend' ) }}"
           class="bg-success text-white list-group-item list-group-item-action btn-success">Choose Different Parameters</a>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
 </div>
{% endblock %}
{% block bottom_scripts %}
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>
</script>
<script src="{{ static ('js/aggregation_form.js') }}">
</script>
{% endblock %}
