{% extends "wiki/custom_base_site.html" %}

{% block wiki_site_title %} - Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/">QUOREM Wiki</a>
{% endblock %}




{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="inactive"><a href="{% url 'homepage' %}">Database</a></li>
  <li class="inactive"><a href="{% url 'search-results' %}">Database Search</a></li>
  <li class="inactive"><a href="{% url 'analysis' %}">Analyze</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">Wiki</a></li>

</ul>
{% endblock %}
