<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'base_head.htm' -%}
  {% block head -%}
  {% endblock head -%}

</head>
<body>
  {% block header %}
  {% endblock %}
  {% block body -%}
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">We're Processing Your File.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your file is being processed! This may take several minutes. Please check back.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row pt-4">
      <header class="col-md-2">
              {% block mainmenu -%}
              {% endblock mainmenu -%}
      </header>
      <main class="col-md-9">
        <div class="container-fluid">

          {% if messages -%}
          {% include 'base_messages.htm' -%}
          {% endif -%}
          {% block main -%}
          {% endblock main -%}
        </div>
      </main>
    </div>
  </div>
  {% endblock body -%}
  {% include 'base_bottom_scripts.htm' -%}
  {% if form -%}
  {{ form.media }}
  {% endif -%}
  <link rel="stylesheet" href="{{ static('css/all.min.css') }}">
 <link rel="stylesheet" href="{{ static('css/bootstrap-tourist.css') }}">
 <script type="text/javascript" src="{{ static('js/bootstrap-tourist.js') }}"></script>
 <script type="text/javascript" src="{{ static('js/quorem_tours.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  {% block bottom_scripts -%}

  {% endblock bottom_scripts -%}
  {% if new_upload %}
<!--    <script type="text/javascript">
      $(document).ready(function(){
        $("#uploadModal").modal('show');
      });
    </script> <--
  {% endif %}
</body>
</html>
