{% extends 'base.htm' -%}
{% block main -%}
{% if main_navs is defined -%}
    {% from 'bs_navs.htm' import bs_navs with context -%}
    {{ bs_navs(navs=main_navs) }}
{% endif -%}
<div row class="welcome">
	<br/>
  <h3> Welcome to <span class="quorem">QUOREM.</span></h3>
</div>
<!-- Carousel -->
<div id="object-carousel" class="carousel slide pt-4" data-ride="carousel">
    <!-- content -->
    <div class="carousel-inner">
      {% for obj in obj_list %}
      <div class="carousel-item {% if loop.first %}active{% endif %}">
        <div class="carousel-content pl-5 pr-5">
          <h5 class='object-name'>{{ obj.name }}</h5>
          {% autoescape false %}
          <p>{{ obj.info | replace("\n", "<br>") }}</p>
          {% endautoescape %}
          <a href="{{ obj.link }}" class="btn btn-info">View All</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Arrows -->
    <a class="carousel-control-prev" href="#object-carousel" data-slide="prev">
      &lsaquo;</a>
    <a class="carousel-control-next" href="#object-carousel" data-slide="next">
      &rsaquo;</a>
  </div>
{% endblock main -%}
