{% extends 'base_generic.htm' %}
{% load static %}
{% block title %}
<title>QUOREM</title>
{% endblock title %}
{% block head %}
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
.select2-container .select2-selection--single {
    height: 38px;
    min-height: 38px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px !important;
}
</style>
{% include 'header.htm' %}
{% endblock head %}

 {% block body %}

  <div class="container-fluid">
    <div class="row pt-4">
      <main class="col-md-9 mx-auto">
        <div class="container-fluid">

          {% if messages %}
          {% include 'base_messages.htm' %}
          {% endif %}
          {% block main %}
          {% endblock main %}
        </div>
      </main>
    </div>
  </div>
  {% endblock body %}
  {% if form %}
  {{ form.media }}
  {% endif %}

  {% block pagination %}
  {% endblock pagination %}

  {% block bottom_scripts %}
  {% endblock bottom_scripts %}

