{% extends 'base.htm' %}
{% load static %}
{% block body %}
<style>
/*** Floating button styling ***/
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    background-color:#0275d8;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
.float-icon{
    margin-top:14px;
}
.float.right{
    right:40px;
}
.float.left{
    left:40px;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    top: 0px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: 0px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0px;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0px;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    display: inline;
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
</style>

<!-- Open options modal if no result HTML present --!>
{% if not feature_html %}
<script>
$(window).on('load',function(){
    var delayMs = 250; // delay in milliseconds
    setTimeout(function(){
        $('#mlOptionsModal').modal('show');
    }, delayMs);
});
</script>
{% endif %}

<!-- Clear stubborn select2 widgets when empty to prevent sending empty GET params-->
<script type="text/javascript">
    $(document).ready(function() {
        $("#ml_form").submit(function() {
            if($("#id_method").val()=="") {
                $("#id_method").remove();
            }
       });
     });
</script>

<!-- Plot Options Modal -->
<div class="modal left fade" id="mlOptionsModal" tabindex="-1" role="dialog" aria-labelledby="mlOptionsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:150%;" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mlOptionsLabel">Analysis Options</h4>
            </div>
            <div class="modal-body">
            <p><form method="get" id="ml_form">
		    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit" ><i class="fas fa-chart-bar"></i>&nbsp;Go</button>
                </form></p>
            </div>
        </div>
    </div>
</div>

<!-- Help Modal -->
<div class="modal right fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Help</h4>
                </div>

                <div class="modal-body">
    <p>This result was generated by the feature_select() function in ml.py. The feature selection methods are provided by the scikit-learn library.</p>
                </div>
            </div>
        </div>
    </div>

<!-- Plot Container -->
<div class="container-fluid">
    <div class="col col-lg-12 text-center align-self-center">
        {% if feature_html %}
	<center>
            {{ feature_html|safe }}
	</center>
        {% else %}
	    <br/>
            <h2>Click the <i class="fa fa-cog"></i> button in the bottom-left to open options</h2>
        {% endif %}
    </div>
</div>

<!-- Includes for form (i.e., select2 stuff generally) -->
{{ form.media }}

<!-- Floating bottom buttons -->
<a href="#" class="float left" data-toggle="modal" data-target="#mlOptionsModal">
    <i class="fa fa-cog fa-2x float-icon"></i>
</a>

<a href="#" class="float right" data-toggle="modal" data-target="#helpModal">
    <i class="fa fa-question fa-2x float-icon"></i>
</a>

{% endblock body %}
