{% extends 'base.htm' %}
{% block main %}
<div class="card">
<div class="accordion" id="detailAccordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Classification and Abundance Matrix Details
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#detailAccordion">
      <div class="card-body">  
         <div class="card-deck">
            {{ matrix_card|safe}}
            {{ taxonomy_card|safe }}
         </div>
      </div>
    </div>
  </div>
</div>
    <div class="card">
            {% if plot_html %}
            {{ plot_html|safe }}
            {% endif %}
    </div>
</div>
{{ form.media }}
{% endblock main %}
