{% extends 'db/base.html' %}

{% block content %}

  <!-- todo. make add investigation form -->

    <div class = "add-investigation-form">
      <form method="POST">{% csrf_token %}
        <p class="form-label"><em>{{ action }}</em></p>
        Investigation Name
        <p>{{ form.name }}</p>
        Institution
        <p>{{ form.institution }}</p>
        Description
        <p>{{ form.description }}</p>
      </ul>
        <div class= "center"><button>ADD INVESTIGATION</button></div>
      </form>
    </div>
  <br>

  <!-- todo list investigations for person to select -->

  <!-- todo add search functionality for investigations. -->
 <!--
  <div class="search-investigations">
    <form method="get" action="{% url 'db:search_investigation' %}">
      <input name="q" value="{{ request.GET.q }}" placeholder="Search for existing Investigations">
      <input type="submit">
    </form>
  </div>
  -->
{% endblock %}