{% extends "db/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load jinja %}

{% block mainmenu %} 
{% jinja 'mainmenu.htm' %} 
{% endblock mainmenu %} 

{% block main %}
{# 1. BUTTON TO TRIGGER THE ACTION #}
<div id="sop-upload">
  <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
  <div id="drop_zone" class="well text-muted text-center" style="margin-top: 2rem; padding-top: 6rem; padding-bottom: 4rem;">
    <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
    <h3>Drop File Here to Upload</h3>
  </div>
  <div class="well text-muted" style="padding-top: 4rem; padding-bottom: 4rem;">
    <h3>Data input types</h3>
    <div id="info_pane">
          Metadata mapping file (.csv)<br/>
          Protocol file (.csv)<br/>
          QIIME2 artifact (.qza)<br/>
          QIIME2 visualization (.qzv)<br/>
    </div>
  </div>
</div>
<input id="fileupload" type="file" name="upload_file" multiple
       style="display: none;"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
<form method="post">

{% csrf_token %}
<button id="confirm_button" name="confirm_button" class="btn btn-primary" style="display: none; float: right;"/>Confirm</button>
</form>
{% endblock %}

{% block bottom_scripts %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!--script src="{% static 'js/bootstrap.min.js' %}"></script--> 
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>
  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/upload.js' %}"></script>
  <script src="{% static 'js/upload_flow.js' %}"></script>

{% endblock %}
