<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'base_head.htm' -%}
    {% block head -%}


    {% endblock head -%}
    {% block style %}
    {% endblock %}
  </head>
  <body>
    {% include 'core/header.htm' -%}
    <BR/>
<div class="accordion" id="detailAccordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Classification and Abundance Matrix Details
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#detailAccordion">
      <div class="card-body">
         <div class="card-deck">
            {{ matrix_card|safe}}
            {{ taxonomy_card|safe }}
         </div>
      </div>
    </div>
  </div>
</div>
    <div class="card">
      {% block body %}
            {% if plot_html %}
            {{ plot_html|safe }}
            {% endif %}
      {% endblock body %}
    </div>
      {% include 'base_bottom_scripts.htm' -%}
      {% block bottom_scripts -%}
      {% endblock bottom_scripts -%}
  </body>
</html>
