/*-----------------------------*/
/* BASIC SET UP*/
/*-----------------------------*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color: #efefef;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1}
.clearfix:after{
  content: '.';
  clear:both;
  display:block;
  height:0;
  visibility :hidden;
}

section{
  padding: 50px 0;
}

h1, h2, p{
    color: black;
}


.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

/*-----------------------------*/
/* Navbar + Header*/
/*-----------------------------*/

.navbar ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: right;
}

.navbar li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border: 1px solid transparent;
}

.navbar li a:hover {
    border-bottom: 1px solid whitesmoke;
}

header{
    background-image: linear-gradient(rgba(100, 100, 100, 0.1), rgba(0, 0, 0, .5)), url("img/background.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height:100vh;
}


.header-text{
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    margin-top: 150px;
    padding-top:15px;
    padding-bottom: 15px;
}

.header-text p {
    max-width: 70%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    line-height: 150%;
}

/*-----------------------------*/
/* Signin/Signup Forms*/
/*-----------------------------*/

.auth-form{
    margin-top:100px;
    margin-left:auto;
    margin-right: auto;
    background-color: ghostwhite;
    border: 1px solid darkblue;
    border-radius: 30px;
    width: 300px;
    height: 300px;
}

.auth-form li {
    text-align: center;
}

input{
    width: 250px;
    height: 20px;
    margin-bottom:7px;
}
.auth-form p {
    text-align: center;
}

.center{
    text-align: center;
}

.auth-form ul{
    list-style: none;
    margin-top: 25px;
}

.form-label{
    margin-top: 15px;
}

button{
    margin-bottom: 15px;
}
.small{
    font-size: 60%;
}