<div class="list-group">
  {% for item in results %}
    {% if item.otype == 'investigation' %}
      <a class="list-group-item list-group-item-action flex-column align-items-start"
      href="/investigation/{{ item.obj.pk }}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Investigation {{ item.obj.name|highlight(q) }}</h5>
        </div>
        <p class="mb-1">Description: {{ item.obj.description|highlight(q) }}</p>
        <p class="mb-1">Institution: {{ item.obj.institution|highlight(q) }}</p>
        {% if item.obj.samples.count() %}
        <p class="mb-1">Samples: {{ item.obj.samples.count() }}</p>
        {% endif %}
      </a>
    {% elif item.otype == 'sample' %}
      <a class="list-group-item list-group-item-action flex-column align-items-start"
      href="/sample/{{ item.obj.pk }}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Sample {{ item.obj.name|highlight(q) }}</h5>
        </div>
        <p class="mb-1">Investigations: {% for investigation in item.obj.investigations.all() %} {{ investigation.name|highlight(q) }} {% endfor %}</p>
      <p class="mb-1">A later iteration will include more information here.</p>
      </a>
     {% elif item.otype == 'feature' %}
      <a class="list-group-item list-group-item-action flex-column align-items-start"
      href="/feature/{{ item.obj.pk }}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Feature {{ item.obj.name|highlight(q) }}</h5>
        </div>
      {% if item.obj.observed_samples.count() %}
      <p class="mb-1">Observed in {{ item.obj.observed_samples.count()|highlight(q) }} Samples</p>
      {% endif %}
      <p class="mb-1">A later iteration will include more information here.</p>
      </a>   {% elif item.otype == 'process' %}
    <a class="list-group-item list-group-item-action flex-column align-items-start"
    href="/process/{{ item.obj.pk }}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Process: {{ item.obj.name|highlight(q) }}</h5>
      </div>
      <p class="mb-1">{{ item.obj.description }} </p>
    </a>
    {% elif item.otype == 'step' %}
    <a class="list-group-item list-group-item-action flex-column align-items start"
    href="/process/step/{{ item.obj.pk }}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Step: {{ item.obj.name }} </h5>
      </div>
      <p class="mb-1"> {{ item.obj.description }}</p>
      {% if item.obj.processes.count() > 0 %}
      <p class="mb-1"> Used in {% for process in item.obj.processes.all() %} {{ process.name }} {% endfor %}</p>
      {% endif %}
    </a>

    {% elif item.otype == 'result' %}
    <a class="list-group-item list-group-item-action flex-column align-items start"
    href="/result/{{ item.obj.pk }}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.obj.type }} result </h5>
    </div>
    <p class="mb-1">UUID {{ item.obj.uuid }}</p>
    <p class="mb-1">Sourced from {{ item.obj.source }}</p>
    <a>


    {% elif item.otype == 'analysis' %}
    <a class="list-group-item list-group-item-action flex-column align-items start"
    href="/analysis/{{ item.obj.pk }}">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ item.obj.name }}</h5>
    </div>
    <p class="mb-1">Using process {{ item.obj.process }}</p>
    <p class="mb-1">From {{ item.obj.location }}</p>
    <a>
    {% endif %}
  {% endfor %}
</div>
