<!-- MultiStep Form -->
<div class="row">
    <div class="col-md-12 col-md-offset-3">
      <!-- action="{{ action }}" -->
        <form action="{{ url( action ) }}" method="POST" id="msform" data-x-url="{{ url('ajax_value_names') }}" data-y-url="{{ url('ajax_trend_y_options')}}">
            {% csrf_token %}
            <!-- progressbar -->
            <ul id="progressbar">
                {% for fieldset in form.fieldsets() %}
                <li
                {% if loop.first %}
                class="active"
                {% endif %}
                >{{ fieldset.description}}</li>
                {% endfor %}
            </ul>
            <!-- fieldsets -->
            {% for fieldset in form.fieldsets() %}
            <fieldset>
              <h2 class="fs-title">{{ fieldset.title }}</h2>
              {% for field in fieldset %}
                {% if fieldset.title == "Aggregate" %}
                {% for radio in field %}
                <div class="form-check">
                  {{ radio }}
                </div>
                {% endfor %}
                {% else %}
                {{field.label}}
                {{ field }}
                {% endif %}
              {% endfor %}
              {% if not loop.first %}
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
              {% endif %}
              {% if loop.last %}
                <input type="submit" name="submit" class="submit action-button" value="Submit"/>
              {% else %}
                <input {% if fieldset.title=="Data Choice" %}id="options"{% endif %} type="button" name="next" class="next action-button" value="Next"/>
              {% endif %}
            </fieldset>
            {% endfor %}
        </form>

    </div>
</div>
<!-- /.MultiStep Form -->
